.test {
    border: 1px solid red; }

.test2 {
    background-color: purple; }

#pano {
    width: 150px;
    height: 150px; }

html {
    font-size: 16px; }

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column; }
    body header {
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem 0 2rem; }
        body header .sidebar_btn {
            background: url("../imgs/ic_menu_white_36px.svg");
            background-size: 30px 30px;
            width: 30px;
            height: 30px; }
        body header input {
            width: 50px;
            transition: width 0.4s ease-in-out; }
        body header input:focus {
            width: 200px; }
    body .Basic-body {
        display: flex;
        flex: 1; }
        body .Basic-body .google-map {
            flex: 1; }

sidebar {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    width: 15rem;
    left: -15rem;
    z-index: 1001;
    transition: left 0.15s ease-in; }
    sidebar .easyFilter {
        width: 80%;
        height: 4rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 1rem; }
    sidebar .sidebar_info {
        margin-left: 1rem; }
    sidebar .places {
        width: 80%;
        height: 5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 1rem;
        display: flex; }
        sidebar .places .places_img {
            height: 100%;
            min-width: 5rem;
            margin-right: 0.7rem;
            background-color: orange; }
        sidebar .places .places_desc {
            overflow: hidden; }
            sidebar .places .places_desc p {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                font-size: 0.8rem;
                margin: 0.3rem 0 0.3rem 0; }

.open_sidebar {
    left: 0rem; }

.dimmer {
    transition: all 0.3s ease;
    display: none; }

.set_dim {
    display: block;
    background: #000;
    opacity: 0.2;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

@media (min-width: 768px) {
    .Basic-body {
        margin-left: 15rem; }
    sidebar {
        left: 0rem; } }
